@use '../abstracts' as abst;

.title {
  box-shadow: abst.$outline-secondary;
  border-radius: abst.$border-radius-default;
  padding: abst.$space-title-outline;
  font-size: abst.$font-h2-responsive;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: abst.$space-copy-responsive;

  &--white {
    box-shadow: abst.$outline-white;
    color: abst.$color-white;
  }

  // &--justify-center {
  //   text-align: center;
  // }
}