@use '../abstracts' as abst;

.gift-card {
  padding: calc(abst.$space-section-responsive * 2);
  background-color: abst.$secondary;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__cards {
    position: relative;
    z-index: 10;
    height: 78rem;

    @media screen and (max-width: abst.$breakpoint-lg) {
      height: 87rem;
    }

    @media screen and (max-width: abst.$breakpoint-md) {
      height: 70rem;
    }

    @media screen and (max-width: abst.$breakpoint-sm) {
      height: 60rem;
    }

    @media screen and (max-width: 475px) {
      height: 53rem;
    }

    @media screen and (max-width: 375px) {
      height: 42rem;
    }

    &__card-1,
    &__card-2 {
      position: absolute;
      width: 80rem;
    }

    &__card-1 {
      top: 14rem;
      left: 8rem;
      transform: rotate(-25deg);
      z-index: 20;
    }

    &__card-2 {
      top: 19rem;
      right: 8rem;
      transform: rotate(5deg);
      z-index: 30;
    }

    @media screen and (max-width: abst.$breakpoint-lg) {
      &__card-1 {
        left: 0;
        top: 21rem;
        transform: rotate(-55deg);
      }

      &__card-2 {
        display: none;
      }
    }

    @media screen and (max-width: abst.$breakpoint-md) {
      &__card-1 {
        top: 18rem;
        transform: rotate(-60deg);
      }
    }

    @media screen and (max-width: abst.$breakpoint-sm) {
      &__card-1 {
        top: 14.5rem;
        transform: rotate(-85deg);
      }
    }

    @media screen and (max-width: 475px) {
      &__card-1 {
        top: 12rem;
      }
    }

    @media screen and (max-width: 375px) {
      &__card-1 {
        top: 10rem;
      }
    }
  }
}