@use '../abstracts' as abst;

#hero-home {
  padding-top: abst.$space-section-responsive;
  background-color: #000;
  margin-bottom: abst.$space-section-responsive;

  h1 {
    // margin-top: 5rem;
    color: abst.$color-white;
    font-size: abst.$font-h1-responsive;
  }

  h2 {
    color: abst.$color-white;

  }
}