@use '../abstracts' as abst;

.section-menu {
  font-size: clamp(abst.$font-md, 6vw, calc(abst.$font-lg));

  &__title {
    margin-block: abst.$space-xl;
    margin-block: clamp(abst.$space-lg, 20vw, abst.$space-xl);
    font-size: clamp(abst.$font-lg, 20vw, abst.$font-xxl);
    text-align: center;
  }

  &__option {

    &__sub-title {
      margin-block: abst.$space-lg;
      font-size: clamp(abst.$font-md, 6vw, abst.$font-xl);
      text-align: center;
    }

    &__content {

      &__row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}